*{
  padding: 0;
  margin:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

div.wrapper{
  text-align: center;
}

#slide{
    position:relative;
    margin:20px auto;
    width: 100%;
    height: 100vh;
    overflow:hidden;
  }

  #slide ul{
    position:relative;
    margin:auto;
    height: auto;
    width:300%;
  }

  #slide ul li{
    float:left;
    width:33.33%;
  }

  #slide ul li img{
    width:80%;
    position: relative;
    top: 12rem;
  }

  #slide ul li .caption{
    display:block;
    position:relative;
    width:100%;
    top:-30px;
    text-align: center;
    z-index:1;
    color:black;
  }

  #slide ul li .caption h2{
    padding: 5px 0;
    position: relative;
    top: 13rem;
    font-size: 4rem;
  }

  #slide ul li .caption h3{
    padding-bottom: 10px;
    position: relative;
    top: 14rem;
    width: 50%;
    margin: auto;
  }

#indicator{
  display:block;
  position:relative;
  width:100%;
  margin:auto;
  height: 10px;
  text-align: center;
  top:120px;
}

#indicator li{
  display:inline-block;
  margin:0 5px;
  cursor:pointer;
  opacity:.5;
  color:red;
  text-shadow:0px 0px 5px #333;
}

#indicator li:first-child{
  opacity:1;
}

div.input, div.input2{
  position:relative;
}

#registro{
  position:relative;
  top: 20rem;
  width: 60%;
}

div.input>input, div.input2>input, input{
  outline: 0;
  border: 1px;
  border-bottom-style: solid;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

div.input>img{
  width: 30%;
  position:absolute;
  top:-1rem;
}

div.input2>img{
  width: 10%;
  position:absolute;
  top:-1rem;
}

.lg{
  display: block;
  width:60%;
  margin:20px auto;
}

.fuentL{
  font-size: 3rem;
}

div.port2, div.port3, div.port4, .port{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.turquesa{
  display:inline-block;
  color:green;
}

div.yape{
  height: 100vh;
  background-color: #FBD43B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.yape>img{
  width: 50%;
  margin: 20px;
}

.fuent6{
  font-size:6rem;
}

.fuent5{
  font-size: 5rem;
}

div.final{
  height: 100vh;
  background-color: #38052A;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
